[submodule "src/go2_bringup"]
	path = src/go2_bringup
	url = https://github.com/Unitree-Go2-Robot/go2_bringup.git
[submodule "src/go2_description"]
	path = src/go2_description
	url = https://github.com/Unitree-Go2-Robot/go2_description.git
[submodule "src/go2_driver"]
	path = src/go2_driver
	url = https://github.com/Unitree-Go2-Robot/go2_driver.git
[submodule "src/go2_interfaces"]
	path = src/go2_interfaces
	url = https://github.com/Unitree-Go2-Robot/go2_interfaces.git
[submodule "src/go2_robot"]
	path = src/go2_robot
	url = https://github.com/Unitree-Go2-Robot/go2_robot.git
[submodule "src/go2_ros2_sdk"]
	path = src/go2_ros2_sdk
	url = https://github.com/abizovnuralem/go2_ros2_sdk.git
[submodule "src/go2_rviz"]
	path = src/go2_rviz
	url = https://github.com/Unitree-Go2-Robot/go2_rviz.git
[submodule "src/unitree_api"]
	path = src/unitree_api
	url = https://github.com/Unitree-Go2-Robot/unitree_api.git
[submodule "src/unitree_go"]
	path = src/unitree_go
	url = https://github.com/Unitree-Go2-Robot/unitree_go.git

